*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 991.98px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 1199.98px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 767.98px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 575.98px) {
    html {
      font-size: 37.5%; } }

body {
  font-family: "Lato", sans-serif;
  color: #193358;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.05rem; }

.row {
  margin-left: 0;
  margin-right: 0; }

hr {
  border-top: 2px solid #fff;
  width: 15%; }

.lead {
  font-size: 1.4rem; }

.span {
  background-color: #7593AA;
  color: #e9ecef;
  font-family: "Lato", sans-serif;
  font-style: italic;
  padding: .15rem; }

.link-color {
  color: #aaa;
  text-decoration: underline; }
  .link-color:hover {
    color: #7593AA; }

::selection {
  background-color: #66ccff;
  color: #fff; }

/*
0 - 575.98px:       Phone portrait
576px - 767.98px:   Phone landscape
768px - 991.98px;   Tablet portrait
992px - 1199.98px;  Tablet landscape
[1200 - 1800] is where our normal styles apply
1800 + :        Big desktop

Breakpoint argument choices:
- phone-port
- phone-land
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/
.heading-1, .heading-3, .heading-2, .heading-4 {
  font-family: "Comfortaa", cursive;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #14407e;
  line-height: 1; }
  @media only screen and (max-width: 1199.98px) {
    .heading-1 {
      font-size: 4rem; } }

.heading-3 {
  font-size: 3.8rem;
  line-height: 1; }
  .heading-3--light {
    color: #e9ecef; }
  .heading-3--dark {
    color: #193358; }
  @media only screen and (max-width: 1199.98px) {
    .heading-3 {
      font-size: 3rem; } }

.heading-2 {
  font-size: 1rem;
  color: #aaa;
  text-transform: uppercase; }
  .heading-2--dark {
    color: #7593AA; }

.heading-4 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #537895; }

.btn {
  background-color: #09203f;
  border: 1px solid #09203f;
  color: #e9ecef;
  border: none;
  border-radius: 0;
  font-family: "Comfortaa", cursive;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all .2s;
  line-height: 1; }
  .btn:hover {
    background-color: #537895;
    text-decoration: none; }
  .btn__social:hover {
    color: #e9ecef; }
  .btn__outline {
    border: 1px solid #7593AA;
    color: #7593AA; }
    .btn__outline:hover {
      color: #e9ecef; }

.about {
  background-color: #e9ecef;
  box-sizing: border-box; }
  @media only screen and (max-width: 1199.98px) {
    .about {
      padding: 0; } }
  .about__icon {
    font-size: 12rem;
    padding: 8rem 0 5rem 0; }
    @media only screen and (max-width: 1199.98px) {
      .about__icon {
        font-size: 10rem;
        padding-top: 5rem; } }
    @media only screen and (max-width: 575.98px) {
      .about__icon {
        font-size: 8rem;
        padding-top: 3.5rem; } }
  .about__list-item {
    display: inline; }
  .about--padding {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 575.98px) {
      .about--padding {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem; } }

.header {
  font-family: "Comfortaa", cursive;
  font-size: 1.8rem;
  font-weight: 400; }
  .header__my-bg-dark {
    background-color: #09203f; }
  .header nav .navbar-brand {
    margin-left: 3rem; }
    @media only screen and (max-width: 575.98px) {
      .header nav .navbar-brand {
        margin-left: 1rem; } }
  .header nav .my-nav-link {
    padding: .6rem;
    background: linear-gradient(to bottom, #537895 0%, #537895 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 22px;
    transition: background-size .2s;
    line-height: 3rem;
    text-decoration: none;
    color: #e9ecef; }
    @media only screen and (max-width: 1199.98px) {
      .header nav .my-nav-link {
        background-size: 3px 18px; } }
    @media only screen and (max-width: 991.98px) {
      .header nav .my-nav-link {
        background-size: 3px 2px; } }
    .header nav .my-nav-link:hover {
      background-size: 4px 50px; }
  .header nav .navbar-toggler-icon {
    height: 3rem;
    width: 3rem; }
  .header nav img {
    width: 100%; }
    @media only screen and (max-width: 767.98px) {
      .header nav img {
        width: 65%; } }
    @media only screen and (max-width: 575.98px) {
      .header nav img {
        width: 55%; } }
  .header__icon-toggler {
    font-size: 3rem;
    color: #fff; }

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  padding: 16rem 10rem 6rem 10rem; }
  @media only screen and (max-width: 1199.98px) {
    .jumbotron {
      padding: 10rem 8rem 2rem 8rem; } }
  @media only screen and (max-width: 767.98px) {
    .jumbotron {
      padding: 10rem 4rem 2rem 4rem; } }
  @media only screen and (max-width: 575.98px) {
    .jumbotron {
      padding: 10rem 0 2rem 0; } }
  .jumbotron__text {
    padding: 7rem 3rem 7rem 0; }
    @media only screen and (max-width: 767.98px) {
      .jumbotron__text {
        padding: 5rem 0 5rem 0; } }
  .jumbotron__img {
    max-height: 25rem;
    max-width: 25rem;
    display: block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 7rem auto; }

.projects {
  padding: 5rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 767.98px) {
    .projects {
      padding: 3rem; } }
  @media only screen and (max-width: 575.98px) {
    .projects {
      padding: 0; } }
  .projects__img {
    box-shadow: -5rem -5rem rgba(83, 120, 149, 0.5);
    width: 100%; }
    @media only screen and (max-width: 1199.98px) {
      .projects__img {
        box-shadow: -4rem -4rem rgba(83, 120, 149, 0.5); } }
    @media only screen and (max-width: 991.98px) {
      .projects__img {
        box-shadow: none;
        margin-bottom: 3rem; } }
  @media only screen and (max-width: 575.98px) {
    .projects__text {
      padding-bottom: 3rem; } }
  .projects--1, .projects--3 {
    background-color: #09203f;
    color: #e9ecef; }
  .projects--2 {
    background-color: #e9ecef; }

.footer {
  padding: 6rem 4rem 3rem 4rem;
  background-color: #09203f;
  color: #e9ecef; }
  @media only screen and (max-width: 1199.98px) {
    .footer {
      padding-top: 3rem; } }
  .footer__link-color {
    color: #7593AA; }
    .footer__link-color:hover {
      color: #aaa; }
  .footer__btn {
    padding: .8rem 2rem;
    width: 100%; }
  .footer__border {
    border: 1px solid #7593AA; }
  .footer .form-control {
    border-radius: 0;
    border: none; }
