// COLOR VARIABLES
$color-primary: #09203f;
$color-primary-dark: #537895;

$color-secondary: #14407e;

$color-grey-light-1: #e9ecef;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #193358;
$color-grey-dark-2: #7593AA;

// FONT VARIABLES
$font-primary: 'Comfortaa', cursive; // Comforta 300, 400
$font-display: 'Lato', sans-serif; // Lato 300, 300i, 400

// LETTER SPACING
$letter-spacing: .05rem;

// RESPONSIVE BREAKPOINTS
// $bp-largest: 75%;       // 1200px
// $bp-large: 62.5%;       // 1000px
// $bp-medium: 50%;       // 800px
// $bp-small: 37.5%;       // 600px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1 rem = 10px;


    // Medium devices (tablets, 768px and up)
    @media only screen and (max-width: 991.98px) { 
        font-size: 62.5%;
    }

    // Large devices (desktops, 992px and up)
    @media only screen and (max-width: 1199.98px) { 
        font-size: 62.5%;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media only screen and (min-width: 1200px) { 
        font-size: 62.5%;
    }
    // Small devices (landscape phones, 576px and up)
    @media only screen and (max-width: 767.98px) {
        font-size: 50%;
    }

    //Extra small devices (portrait phones, less than 576px)
    @media only screen and (max-width: 575.98px) { 
        font-size: 37.5%;
    }
}

body {
    font-family: $font-display;
    color: $color-grey-dark-1;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: $letter-spacing;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

hr {
    border-top: 2px solid #fff;
    width: 15%;
}

.lead {
    font-size: 1.6rem;
}

.span {
    background-color: $color-grey-dark-2;
    color: $color-grey-light-1;
    font-family: $font-display;
    font-style: italic;
    padding: .15rem;
}

.link-color {
    color: $color-grey-light-2;
    text-decoration: none;

    &:hover {
        color: $color-grey-dark-2;
        text-decoration: none;
    }
}

::selection {
    background-color: #66ccff;
    color: #fff;
}

.arrow-up {
    position: absolute;
    bottom: 0;
    right: -5.5rem;
    margin: 0;
    font-size: 1.7rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}