.header {
    font-family: $font-primary;
    font-size: 1.8rem;
    font-weight: 400;

    &__my-bg-dark {
        background-color: $color-primary;
    }

    nav {
        .my-nav-link {
            padding: .6rem;
            background: linear-gradient(
                        to bottom, $color-primary-dark 0%,
                        $color-primary-dark 100%);
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 3px 22px;
            transition: background-size .2s;
            line-height: 3rem;
            text-decoration: none;
            color: $color-grey-light-1;

            &:hover {
                background-size: 4px 50px;
            }
        }

        .navbar-toggler-icon {
            height: 3rem;
            width: 3rem;
        }
    }

    &__icon-toggler {
        font-size: 3rem;
        color: #fff;
    }
    
}