.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 16rem 10rem 6rem 10rem;

    &__text {
        padding: 7rem 0;
    }

    &__img {
        height: 25rem;
        width: 25rem;
        display: block;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin: 7rem 0;
    }
}

